.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /* Adjust the fractions according to your layout */
    grid-template-rows: auto;
    grid-template-areas: 
      "header header header header"
      "main main main main"
      "sidebar-right sidebar-right sidebar-left sidebar-left"
      "footer footer footer footer";
    gap: 20px; /* Optional: Adjust the gap between grid items */
  }
  
  .item-a {
    grid-area: header;
  }
  
  .item-b {
    grid-area: main;
  }
  
  .item-c {
    grid-area: sidebar-right;
    align-self: center;
    border: 1px solid black;
  }

  .item-d {
    grid-area: sidebar-left;
  }
  
  .item-e {
    grid-area: footer;
  }
  
  .highlight-color {
    color: #4A90E2; /* or another accent color from your palette */
  }
  
  .item-c h2 {
    margin: 10px;
  }

  h1 {
    font-size: 45px;
  }

  .dashboard-img {
    width: 800px;
    height: 500px;
    border-radius: 10px;
  }

  header{
    background-image: url('../../assets/dashboard-photo1.png');
    height: 600px;
    border: 1px solid black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  header h1 {
    position: absolute;
  }
  