.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 30px;
    width: 100%;
}

.nav-bar li {
    margin: 10px;
}

.nav-bar li:hover{
    text-decoration: underline;
}

.links {
    display: flex;
}

#logo {
    width: 90px;
    height: 90px;
}

.title {
    display: flex;
    align-items: center;
}